{% extends 'base.html.twig' %}

{% block title %}Hello ProgrameController!{% endblock %}

{% block body %}

<h1>Programme du séjour</h1>
<br>
<br>
<br>
<br>

    <div class="img-programm-container">
        <div class="img-programm-item">
            <h2>Piscine</h2>
            <img class="img-programm" src="/img/imgProgramm/piscine2.jpg">
        </div>

        <div class="img-programm-item">
            <h2>Billard</h2>
            <img class="img-programm" src="/img/imgProgramm/Billard2.jpg">
        </div>

        <div class="img-programm-item">
            <h2>Ping-pong</h2>
            <img class="img-programm" src="/img/imgProgramm/pingpong3.jpg">
        </div>

        <div class="img-programm-item">
            <h2>Pétanque</h2>
            <img class="img-programm" src="/img/imgProgramm/Petanque.jpg">
        </div>

        <div class="img-programm-item">
            <h2>Molky</h2>
            <img class="img-programm" src="/img/imgProgramm/molkky.jpg">
        </div>

        <div class="img-programm-item">
            <h2>Baby-foot</h2>
            <img class="img-programm" src="/img/imgProgramm/babyfoot.jpg">
        </div>

        <div class="img-programm-item">
            <h2>Chill</h2>
            <img class="img-programm" src="/img/imgProgramm/Chill2.jpg">
        </div>

        <div class="img-programm-item">
            <h2>Apero</h2>
            <img class="img-programm" src="/img/imgProgramm/Coktail.jpg">
        </div>

        <div class="img-programm-item">
            <h2>Repas</h2>
            <img class="img-programm" src="/img/imgProgramm/buffet1.jpg">
        </div>

        <div class="img-programm-item">
            <h2>Dancing</h2>
            <img class="img-programm" src="/img/imgProgramm/Dancing.jpg">
        </div>
    </div>
            

{% endblock %}
