{% extends 'base.html.twig' %}

{% block title %}Hello ProgrameController!{% endblock %}

{% block body %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <h1 class="title">Plan</h1>
                <div id="map" style="width: 100%; height: 385px;"></div>
                <script>
                    // Initialise la carte
                    var map = L.map('map').setView([48.05332, 3.77454], 7);

                    // Ajoute une couche de tuiles OpenStreetMap
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '© OpenStreetMap contributors'
                    }).addTo(map);

                    // Ajoute un marqueur à une position spécifique
                    L.marker([48.05188, 3.77034]).addTo(map);
                </script>
            </div>

            <div class="column is-6 mx-6">
                <h1 class="title">Vidéo du gîte</h1>
                <!-- Contenu de la partie vidéo -->
                <div id="videoGite" class="has-text-centered">
                    <video controls class="is-16by9 video-border">
                        <source type="video/webm" src="https://www.lagrangedeboulay.com/wp-content/uploads/2019/06/lgdb_drone.mp4">
                    </video>
                </div>
            </div>
        </div>
        <br>
 
        <div class="columns is-flex is-justify-content-center">
            <div class="column is-6">
                <h1 class="title bold-text">Adresse</h1>
                <div id="adresse ">
                    <p class="columns is-flex is-justify-content-center bold-text">2, 4 chemin du haut des Chevaux Doux</p>
                    <p class="columns is-flex is-justify-content-center bold-text">89570</p>
                    <p class="columns is-flex is-justify-content-center bold-text" >Neuvy-Sautour</p>
                </div>
                

            </div>
        </div>
    </div>
{% endblock %}
