{% extends 'base.html.twig' %}

{% block title %}Hello HebergementController!{% endblock %}

{% block body %}



    <h1>Hébergement</h1>
<p id="memoHebergement">NB : Pensez à bien apporter vos draps et serviettes personnels pour le séjour</p>
<br>
<div class="container-hebergement">
<div class="carousel">
    <div><img class="img-hebergement" src="/img/imhHebergement/Ext1.jpg"></div>
    <div><img class="img-hebergement" src="/img/imhHebergement/Salon.jpg"></div>
    <div><img class="img-hebergement" src="/img/imhHebergement/Chb1.jpg"></div>
    <div><img class="img-hebergement" src="/img/imhHebergement/Chb2.jpg"></div>
    <div><img class="img-hebergement" src="/img/imhHebergement/Chb3.jpg"></div>
</div>
</div>




{% endblock %}
