{% extends 'base.html.twig' %}

{% block title %}Edit GuestQuestion{% endblock %}

{% block body %}
    <h1>Edit GuestQuestion</h1>

    {{ include('guest_question_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_guest_question_crud_index') }}">back to list</a>

    {{ include('guest_question_crud/_delete_form.html.twig') }}
{% endblock %}
