{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}


{% block body %}

<div class="modal">
  <div class="modal-card">
    <p class="text-modal">Il y a   
      <span id="years" class="countdown-item">Années</span>
      <span id="months" class="countdown-item">Mois</span>
      <span id="days" class="countdown-item">Jours</span>
      <span id="hours" class="countdown-item">H</span>
      <span id="minutes" class="countdown-item">M</span>
      <span id="seconds" class="countdown-item">S</span></p> 

<img class="modal-body" src="/img/imgSylvie/SylvieBB.jpeg" alt="img"> 
<button class="btn btn-primary btn-modal" onclick="closeModal()">Fermer</button>
  </div>   
</div>

   <!-- <h1 class="principal">
         Invitation à l'anniversaire de Sylvie
   </h1> -->
<div class='group-bandeau'>
   <div class='bandeau-photo'></div>
   <div class='bandeau-photo'></div>
   <div class='bandeau-photo'></div>
   <div class='bandeau-photo'></div>
   <div class='bandeau-photo'></div>
   <div class='bandeau-photo'></div>
</div>
<br>

<div id="messageInvite-container">

<!--<p>Bienvenue dans ce lieu enchanté,
<br>Où l'anniversaire de Sylvie sera célébré.
<br>Cinquante printemps de bonheur et de douceur,
<br>Nous unissons nos voix pour l'honorer en chœur.</p>
<br>-->
<p>Un souffle de félicité dans l'air,
<br>Une invitation unique à partager.
<br>Soyez présents, amis et proches,
<br>Pour que ce jour soit une symphonie sans reproche.</p>
<br>
<p> Un instant précieux, une ode à la vie,
<br>Rejoignez-nous pour fêter cette belle Sylvie.
<br>Un anniversaire où l'amour se déploie,
<br>Sylvie, célébrons ensemble ta joie.</p>
  

</div>


 <div id="animationContainerLeft"></div>

<br>
  <script>
    var animationLeft = bodymovin.loadAnimation({
      container: document.getElementById('animationContainerLeft'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: 'https://assets3.lottiefiles.com/packages/lf20_QwDxzGI8Oo.json'
    });
  </script>

  <div id="animationContainerRight"></div>
  <script>
    var animationRight = bodymovin.loadAnimation({
      container: document.getElementById('animationContainerRight'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: 'https://assets4.lottiefiles.com/packages/lf20_EFnlfcxgVu.json'
    });
  </script>




{% endblock %}
