{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}


{% block body %}

<div class="modal">
  <div class="modal-card">
    <p class="text-modal">Il y a   
      <span id="years" class="countdown-item">Années</span>
      <span id="months" class="countdown-item">Mois</span>
      <span id="days" class="countdown-item">Jours</span>
      <span id="hours" class="countdown-item">H</span>
      <span id="minutes" class="countdown-item">M</span>
      <span id="seconds" class="countdown-item">S</span></p> 

<img class="modal-body" src="/img/imgSylvie/SylvieBB.jpeg" alt="img"> 
<button class="btn btn-primary btn-modal" onclick="closeModal()">Fermer</button>
  </div>   
</div>

   <!-- <h1 class="principal">
         Invitation à l'anniversaire de Sylvie
   </h1> -->
<div class='group-bandeau'>
   <div class='bandeau-photo1'></div>
   <div class='bandeau-photo2'></div>
   <div class='bandeau-photo3'></div>
   <div class='bandeau-photo4'></div>
   <div class='bandeau-photo5'></div>
   <div class='bandeau-photo6'></div>
   <div class='bandeau-photo7'></div>
</div>
<br>

<div id="messageInvite-container">

<!--<p>Bienvenue dans ce lieu enchanté,
<br>Où l'anniversaire de Sylvie sera célébré.
<br>Cinquante printemps de bonheur et de douceur,
<br>Nous unissons nos voix pour l'honorer en chœur.</p>
<br>-->
<p>Quoi de mieux pour fêter 50 ans de vie
<br>que d'être entourée de sa famille et de ses amis ?!</p>
<br><p>Partager avec vous tous un week-end de sourires, de rires et de souvenirs,
<br>serait pour moi un cadeau magique.</p>
  <br><p>Pour commencer mes 50 prochaines années,
<br>j'espère vous retrouver pour vivre des petits instants précieux
 <br>et des grands moments de bonheur dans la joie et la bonne humeur!</p>

  <br><p>C'est parti pour la fiesta,
 <br>dans un joyeux brouhaha!</p>

</div>


 <div id="animationContainerLeft"></div>

<br>
  <script>
    var animationLeft = bodymovin.loadAnimation({
      container: document.getElementById('animationContainerLeft'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: 'https://assets3.lottiefiles.com/packages/lf20_QwDxzGI8Oo.json'
    });
  </script>

  <div id="animationContainerRight"></div>
  <script>
    var animationRight = bodymovin.loadAnimation({
      container: document.getElementById('animationContainerRight'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: 'https://assets4.lottiefiles.com/packages/lf20_EFnlfcxgVu.json'
    });
  </script>




{% endblock %}
